<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Vehicle
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a routerLink="vehicles" class="dropdown-item" href="#" routerLinkActive="active">Vehicle list</a></li>
        <li><a routerLink="add-vehicle" class="dropdown-item" href="#" routerLinkActive="active">Add vehicle</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Client
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a routerLink="clients" class="dropdown-item" href="#" routerLinkActive="active">Client list</a></li>
        <li><a routerLink="add-client" class="dropdown-item" href="#" routerLinkActive="active">Add client</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Stay
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a routerLink="stays" class="dropdown-item" href="#" routerLinkActive="active">Stay list</a></li>
        <li><a routerLink="add-stay" class="dropdown-item" href="#" routerLinkActive="active">Add stay</a></li>
      </ul>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <span>Parking Manager - Renato Silveira</span>
  </div>
</footer>