<h3>Update Stay</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Entry Date</label>
      <input type="text" class="form-control" id="model" required [(ngModel)]="stay.entryDate" name="entryDate">
    </div>

    <div class="form-group">
      <label for="name">Departure Date</label>
      <input type="text" class="form-control" id="color" required [(ngModel)]="stay.departureDate" name="departureDate">
    </div>

    <div class="form-group">
      <label for="name">Entry Time</label>
      <input type="text" class="form-control" id="licensePlate" required [(ngModel)]="stay.entryTime" name="entryTime">
    </div>

    <div class="form-group">
      <label for="name">Exit Time</label>
      <input type="text" class="form-control" id="licensePlate" required [(ngModel)]="stay.exitTime" name="exitTime">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>