<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Vehicle list</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Model</th>
            <th>Color</th>
            <th>License Plate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of vehicles | async">
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.color}}</td>
            <td>{{vehicle.licensePlate}}</td>
            <td><button (click)="deleteVehicle(vehicle.id)" class="btn btn-danger">Delete</button>
              <button (click)="updateVehicle(vehicle.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                <button (click)="vehicleDetails(vehicle.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
